/* == placeholders == */

.item-image,
.item-image.samus { background: url("images/placeholders.png") 0 0; } /* reported unused */
.item-image.starshipZ { background: url("images/placeholders.png") -50px 0; }
.item-image.gunshipP { background: url("images/placeholders.png") -100px 0; }
.item-image.gunshipS { background: url("images/placeholders.png") -150px 0; }
.item-image.gunshipC { background: url("images/placeholders.png") -200px 0; }
.item-image.starshipF { background: url("images/placeholders.png") -250px 0; }

.item-image._____,
.item-image.none,
.item-image.unused { background: url("images/placeholders.png") -1000px 0; }

.item-image.friendVoucher { background: url("images/placeholders.png") 0 -50px; }
/*.item-image._____ { background: url("images/placeholders.png") -50px -50px; } combined */
.item-image.goldCredit { background: url("images/placeholders.png") -72px -50px; width: 56px; left: -3px; } /* double-length */
/*.item-image._____ { background: url("images/placeholders.png") -100px -50px; } combined */
/* .item-image._____ { background: url("images/placeholders.png") -150px -50px; } combined */
.item-image.blueCredit { background: url("images/placeholders.png") -172px -50px; width: 56px; left: -3px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -200px -50px; } combined */
.item-image.modChipA { background: url("images/placeholders.png") -250px -50px; } /* reported unused; decide on a default `modChip` */
.item-image.modChipB { background: url("images/placeholders.png") -300px -50px; } /* reported unused */
.item-image.modChipC { background: url("images/placeholders.png") -350px -50px; } /* reported unused */
.item-image.modChipS { background: url("images/placeholders.png") -400px -50px; } /* reported unused */
.item-image.goldMedal { background: url("images/placeholders.png") -450px -50px; }

.item-image.zipline { background: url("images/placeholders.png") 0 -100px; }
.item-image.pirateCode { background: url("images/placeholders.png") -50px -100px; }
.item-image.powerOrb { background: url("images/placeholders.png") -100px -100px; }
.item-image.animals { background: url("images/placeholders.png") -150px -100px; }

.item-image.nothing { background: url("images/placeholders.png") 0 -150px; } /* reported unused */
.item-image.randomizer { background: url("images/placeholders.png") -50px -150px; } /* reported unused */
.item-image.itemOrb { background: url("images/placeholders.png") -100px -150px; } /* reported unused */
.item-image.itemCube { background: url("images/placeholders.png") -150px -150px; } /* reported unused */
.item-image.massiveDamage { background: url("images/placeholders.png") -200px -150px; } /* might need better icon for Echoes usage */
.item-image.doubleDamageA { background: url("images/placeholders.png") -250px -150px; } /* reported unused; only used in Hunters MP */
.item-image.doubleDamage { background: url("images/placeholders.png") -300px -150px; } /* reported unused; only used in Hunters MP */
.item-image.invisibility { background: url("images/placeholders.png") -350px -150px; } /* reported unused; only used in Hunters MP */
.item-image.birdCharm { background: url("images/placeholders.png") -400px -150px; }
.item-image.hyperShield { background: url("images/placeholders.png") -450px -150px; }

.item-image.unknownBeam { background: url("images/placeholders.png") 0 -200px; }
.item-image.unknownJump { background: url("images/placeholders.png") -50px -200px; }
.item-image.unknownSuit { background: url("images/placeholders.png") -100px -200px; }
.item-image.energyTransferModule { background: url("images/placeholders.png") -150px -200px; }
.item-image.psychicCrystal { background: url("images/placeholders.png") -200px -200px; }
.item-image.ffrepairCapsule { background: url("images/placeholders.png") -250px -200px; }
.item-image.ffshieldGenerator { background: url("images/placeholders.png") -300px -200px; }
.item-image.ffmissile { background: url("images/placeholders.png") -350px -200px; }
.item-image.ffsuperMissile,
.item-image.superBlast { background: url("images/placeholders.png") -400px -200px; } /* investigate; might need better icon */
.item-image.ffproximityBomb { background: url("images/placeholders.png") -450px -200px; }
.item-image.ffdecoy { background: url("images/placeholders.png") -500px -200px; }
.item-image.ffslowBeam { background: url("images/placeholders.png") -550px -200px; }
.item-image.ffscanBolt { background: url("images/placeholders.png") -600px -200px; }

.item-image.zeroSuitA { background: url("images/placeholders.png") 0 -250px; }
.item-image.zeroSuitB { background: url("images/placeholders.png") -50px -250px; }
.item-image.fullPowerSuit { background: url("images/placeholders.png") -100px -250px; } /* triple-check to see that all respellings are lined up */
.item-image.suitUpgradeP { background: url("images/placeholders.png") -150px -250px; }
.item-image.barrierSuitA,
.item-image.barrierSuitB { background: url("images/placeholders.png") -200px -250px; }
.item-image.barrierSuitD { background: url("images/placeholders.png") -250px -250px; }
.item-image.gravitySuit { background: url("images/placeholders.png") -300px -250px; }
.item-image.gravityBoost { background: url("images/placeholders.png") -350px -250px; }
.item-image.gravitySuitD { background: url("images/placeholders.png") -400px -250px; }
.item-image.phazonSuit,
.item-image.corruptedHypermode { background: url("images/placeholders.png") -450px -250px; }
.item-image.darkSuit { background: url("images/placeholders.png") -500px -250px; }
.item-image.lightSuit { background: url("images/placeholders.png") -550px -250px; }
.item-image.pedSuit { background: url("images/placeholders.png") -600px -250px; }
.item-image.hazardShield { background: url("images/placeholders.png") -650px -250px; }
.item-image.monsterSuit { background: url("images/placeholders.png") -700px -250px; } /* reported unused; possible need in Ravenous? */
.item-image.nanoSuit { background: url("images/placeholders.png") -750px -250px; }
.item-image.nanoICSuit { background: url("images/placeholders.png") -800px -250px; }
.item-image.legacySuit { background: url("images/placeholders.png") -850px -250px; }
.item-image.hydroSuit { background: url("images/placeholders.png") -900px -250px; } /* reported unused; upcoming for MSC */

.item-image.energyTank { background: url("images/placeholders.png") 0 -300px; }
.item-image.energyTankD { background: url("images/placeholders.png") -50px -300px; }
.item-image.energyTankP { background: url("images/placeholders.png") -100px -300px; }
.item-image.energyTankB { background: url("images/placeholders.png") -150px -300px; }
.item-image.energyPartO { background: url("images/placeholders.png") -200px -300px; }
.item-image.energyPartD { background: url("images/placeholders.png") -250px -300px; }
.item-image.reserveTank { background: url("images/placeholders.png") -300px -300px; }
.item-image.erecoveryTank { background: url("images/placeholders.png") -350px -300px; }
.item-image.magneticShield { background: url("images/placeholders.png") -400px -300px; } /* reported unused */
.item-image.magneticShieldTank { background: url("images/placeholders.png") -450px -300px; }
.item-image.phantomCloak { background: url("images/placeholders.png") -500px -300px; }
.game-scramble .item-image.nanoSuit,
.item-image.bike { background: url("images/placeholders.png") -550px -300px; }
.item-image.bikeBoost { background: url("images/placeholders.png") -600px -300px; } /* reported unused; needed for future Beyond rando? */
.item-image.bikeSlide { background: url("images/placeholders.png") -650px -300px; } /* reported unused; needed for future Beyond rando? */
.item-image.bikeProjectile { background: url("images/placeholders.png") -700px -300px; } /* reported unused; needed for future Beyond rando? */
.game-scramble .item-image.nanoICSuit,
.item-image.hoverBike { background: url("images/placeholders.png") -750px -300px; }
.item-image.boostExpansion { background: url("images/placeholders.png") -800px -300px; }
.item-image.aeionTank { background: url("images/placeholders.png") -850px -300px; }
.item-image.scanPulse,
.item-image.pulseRadar { background: url("images/placeholders.png") -900px -300px; } /* should Pulse Radar get its own icon? */
.item-image.lightningArmor { background: url("images/placeholders.png") -950px -300px; }
.item-image.beamBurst { background: url("images/placeholders.png") -1000px -300px; }
.item-image.phaseDrift { background: url("images/placeholders.png") -1050px -300px; }

.item-image.combatVisorP { background: url("images/placeholders.png") 0 -350px; }
.item-image.combatVisorE { background: url("images/placeholders.png") -50px -350px; }
.item-image.scanVisorP { background: url("images/placeholders.png") -100px -350px; }
.item-image.scanVisorPR { background: url("images/placeholders.png") -150px -350px; }
.item-image.scanVisorE { background: url("images/placeholders.png") -200px -350px; }
.item-image.scanVisorC { background: url("images/placeholders.png") -250px -350px; }
.item-image.psychicVisor { background: url("images/placeholders.png") -300px -350px; }
.item-image.violetTranslator { background: url("images/placeholders.png") -350px -350px; }
.item-image.amberTranslator { background: url("images/placeholders.png") -400px -350px; }
.item-image.emeraldTranslator { background: url("images/placeholders.png") -450px -350px; }
.item-image.cobaltTranslator { background: url("images/placeholders.png") -500px -350px; }
.item-image.thermalVisor { background: url("images/placeholders.png") -550px -350px; }
.item-image.commandVisor { background: url("images/placeholders.png") -600px -350px; }
.item-image.xrayScope { background: url("images/placeholders.png") -650px -350px; }
.item-image.xrayVisorP { background: url("images/placeholders.png") -700px -350px; }
.item-image.xrayVisorC { background: url("images/placeholders.png") -750px -350px; }
.item-image.darkVisor { background: url("images/placeholders.png") -800px -350px; }
.item-image.echoVisor { background: url("images/placeholders.png") -850px -350px; }
.item-image.geCrystalFinder { background: url("images/placeholders.png") -900px -350px; }

.item-image.emergencyPistol { background: url("images/placeholders.png") 0 -400px; } /* reported unused; investigate need? */
.item-image.powerBeam { background: url("images/placeholders.png") -50px -400px; }
.item-image.powerBeamP { background: url("images/placeholders.png") -100px -400px; }
.item-image.powerBeamE { background: url("images/placeholders.png") -150px -400px; }
.item-image.armCannon { background: url("images/placeholders.png") -200px -400px; }
.item-image.psychicBeamA { background: url("images/placeholders.png") -250px -400px; }
.item-image.psychicBeamB { background: url("images/placeholders.png") -300px -400px; }
.item-image.longBeam { background: url("images/placeholders.png") -350px -400px; }
.item-image.chargeBeam { background: url("images/placeholders.png") -400px -400px; }
.item-image.chargeBeamP { background: url("images/placeholders.png") -450px -400px; }
.item-image.chargeBeamE { background: url("images/placeholders.png") -500px -400px; }
.item-image.chargeBeamF { background: url("images/placeholders.png") -550px -400px; }
.item-image.chargeBeamR { background: url("images/placeholders.png") -600px -400px; }
.item-image.chargeBeamB { background: url("images/placeholders.png") -650px -400px; }
.item-image.accelCharge { background: url("images/placeholders.png") -700px -400px; }
.item-image.diffusionBeamO { background: url("images/placeholders.png") -750px -400px; }
.item-image.diffusionBeamD { background: url("images/placeholders.png") -800px -400px; }
.item-image.controlBeam { background: url("images/placeholders.png") -850px -400px; }
.item-image.controlBeamBoost { background: url("images/placeholders.png") -900px -400px; }

.item-image.waveBeamP { background: url("images/placeholders.png") 0 -450px; }
.item-image.iceBeam { background: url("images/placeholders.png") -50px -450px; }
.item-image.iceBeamP { background: url("images/placeholders.png") -100px -450px; }
.item-image.iceBeamF { background: url("images/placeholders.png") -150px -450px; }
.item-image.iceBeamR { background: url("images/placeholders.png") -200px -450px; }
.item-image.iceBeamB { background: url("images/placeholders.png") -250px -450px; }
.item-image.iceSpreaderMPO { background: url("images/placeholders.png") -300px -450px; }
.item-image.wideBeam { background: url("images/placeholders.png") -350px -450px; }
.item-image.wideBeamF { background: url("images/placeholders.png") -400px -450px; }
.item-image.waveBeamC, /* reported unused */
.item-image.wideBeamR { background: url("images/placeholders.png") -450px -450px; }
.item-image.waveBeam { background: url("images/placeholders.png") -500px -450px; }
.item-image.waveBeamO { background: url("images/placeholders.png") -550px -450px; }
.item-image.waveBeamF { background: url("images/placeholders.png") -600px -450px; }
.item-image.waveBeamB { background: url("images/placeholders.png") -650px -450px; }
.item-image.wavebusterMPO { background: url("images/placeholders.png") -700px -450px; }
.item-image.plasmaBeam { background: url("images/placeholders.png") -750px -450px; }
.item-image.plasmaBeamO { background: url("images/placeholders.png") -800px -450px; }
.item-image.plasmaBeamF { background: url("images/placeholders.png") -850px -450px; }
.item-image.plasmaBeamR { background: url("images/placeholders.png") -900px -450px; }
.item-image.plasmaBeamB { background: url("images/placeholders.png") -950px -450px; }
.item-image.plasmaBeamP { background: url("images/placeholders.png") -1000px -450px; }
.item-image.fireBeamA { background: url("images/placeholders.png") -1050px -450px; }
.item-image.incinerator { background: url("images/placeholders.png") -1100px -450px; }
.item-image.novaBeam { background: url("images/placeholders.png") -1150px -450px; }

.item-image.uaExpansion { background: url("images/placeholders.png") 0 -500px; }
.item-image.voltDriver { background: url("images/placeholders.png") -50px -500px; }
.item-image.battlehammer { background: url("images/placeholders.png") -100px -500px; }
.item-image.magmaul { background: url("images/placeholders.png") -150px -500px; }
.item-image.judicator { background: url("images/placeholders.png") -200px -500px; }
.item-image.shockCoil { background: url("images/placeholders.png") -250px -500px; }
.item-image.imperialist { background: url("images/placeholders.png") -300px -500px; }
.item-image.omegaCannonH { background: url("images/placeholders.png") -350px -500px; }
.item-image.beamAmmoExpansion { background: url("images/placeholders.png") -400px -500px; }
.item-image.darkAmmoExpansion { background: url("images/placeholders.png") -450px -500px; }
.item-image.lightAmmoExpansion { background: url("images/placeholders.png") -500px -500px; }
.item-image.unlimitedBeamAmmo { background: url("images/placeholders.png") -550px -500px; }
.item-image.darkBeam { background: url("images/placeholders.png") -600px -500px; }
.item-image.lightBeam { background: url("images/placeholders.png") -650px -500px; }
.item-image.annihilatorBeam { background: url("images/placeholders.png") -700px -500px; }
.item-image.hyperBeamC { background: url("images/placeholders.png") -750px -500px; }
.item-image.hyperBeamS { background: url("images/placeholders.png") -800px -500px; } /* reported unused; needed for SM for any reason? */
.item-image.omegaCannonD { background: url("images/placeholders.png") -850px -500px; }

.item-image.missileTank,
.item-image.missileTankA { background: url("images/placeholders.png") 0 -550px; }
.game-scramble .item-image.missileExpansionPR,
.item-image.missileTankO,
.item-image.missileExpansion { background: url("images/placeholders.png") -50px -550px; }
.item-image.missileTankD { background: url("images/placeholders.png") -100px -550px; }
.item-image.missileExpansionB { background: url("images/placeholders.png") -150px -550px; }
.item-image.missileDoubleTank { background: url("images/placeholders.png") -200px -550px; }
.item-image.missileLauncherO,
.item-image.superMissileDataF { background: url("images/placeholders.png") -250px -550px; }
.item-image.missileLauncher { background: url("images/placeholders.png") -300px -550px; } /* reported unused; investigate need? */
.item-image.missileDataF { background: url("images/placeholders.png") -350px -550px; }
.game-scramble .item-image.missileLauncherPR,
.item-image.missileExpansionPR,
.item-image.missileLauncherP { background: url("images/placeholders.png") -400px -550px; }
.item-image.missileLauncherPR,
.item-image.missileLauncherB { background: url("images/placeholders.png") -450px -550px; }
.item-image.missileLauncherH { background: url("images/placeholders.png") -500px -550px; }
.item-image.superMissileTank { background: url("images/placeholders.png") -550px -550px; }
.item-image.superMissileLauncherO,
.item-image.diffusionMissileDataF { background: url("images/placeholders.png") -600px -550px; }
.item-image.superMissileLauncher { background: url("images/placeholders.png") -650px -550px; } /* `superMissile` */
.item-image.iceMissileF { background: url("images/placeholders.png") -700px -550px; }
.item-image.iceMissileC { background: url("images/placeholders.png") -750px -550px; }
.item-image.seekerLauncherO { background: url("images/placeholders.png") -800px -550px; }
.item-image.seekerLauncherE { background: url("images/placeholders.png") -850px -550px; }
.item-image.seekerLauncherC { background: url("images/placeholders.png") -900px -550px; }
.item-image.stormMissile { background: url("images/placeholders.png") -950px -550px; }
.item-image.shipMissileExpansion { background: url("images/placeholders.png") -1000px -550px; }
.item-image.shipMissile { background: url("images/placeholders.png") -1050px -550px; }
.item-image.hyperMissile { background: url("images/placeholders.png") -1100px -550px; }
.item-image.superMissileB { background: url("images/placeholders.png") -1150px -550px; }

.item-image.shotExpansion { background: url("images/placeholders.png") 0 -600px; }
.item-image.shotExpansionL { background: url("images/placeholders.png") -50px -600px; }
.item-image.beamCombo { background: url("images/placeholders.png") -100px -600px; } /* default fallback */
/* .item-image._____ { background: url("images/placeholders.png") -150px -600px; } combined */
.item-image.superMissileComboP { background: url("images/placeholders.png") -171px -600px; width: 58px; left: -4px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -200px -600px; } combined */
.item-image.superMissileComboE { background: url("images/placeholders.png") -250px -600px; }
.item-image.shockShot { background: url("images/placeholders.png") -300px -600px; }
/* .item-image._____ { background: url("images/placeholders.png") -350px -600px; } combined */
.item-image.wavebuster { background: url("images/placeholders.png") -368px -600px; width: 64px; left: -7px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -400px -600px; } combined */
.item-image.freezeShot,
.item-image.iceMissileD { background: url("images/placeholders.png") -450px -600px; }
/* .item-image._____ { background: url("images/placeholders.png") -500px -600px; } combined */
.item-image.iceSpreader { background: url("images/placeholders.png") -525px -600px; width: 50px; left: 0; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -550px -600px; } combined */
.item-image.iceChip { background: url("images/placeholders.png") -600px -600px; }
.item-image.iceShot { background: url("images/placeholders.png") -650px -600px; }
.item-image.iceCharge { background: url("images/placeholders.png") -700px -600px; }
.item-image.iceSuper { background: url("images/placeholders.png") -750px -600px; }
.item-image.flameShot,
.item-image.plasmaBeamC { background: url("images/placeholders.png") -800px -600px; }
/* .item-image._____ { background: url("images/placeholders.png") -850px -600px; } combined */
.item-image.flamethrower { background: url("images/placeholders.png") -872px -600px; width: 56px; left: -3px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -900px -600px; } combined */
.item-image.fireChip { background: url("images/placeholders.png") -950px -600px; }
.item-image.fireShot { background: url("images/placeholders.png") -1000px -600px; }
.item-image.fireCharge { background: url("images/placeholders.png") -1050px -600px; }
.item-image.fireSuper { background: url("images/placeholders.png") -1100px -600px; }
.item-image.thunderChip { background: url("images/placeholders.png") -1150px -600px; }
.item-image.thunderShot { background: url("images/placeholders.png") -1200px -600px; }
.item-image.thunderCharge { background: url("images/placeholders.png") -1250px -600px; }
.item-image.thunderSuper { background: url("images/placeholders.png") -1300px -600px; }
.item-image.darkburst { background: url("images/placeholders.png") -1350px -600px; }
.item-image.sunburst { background: url("images/placeholders.png") -1400px -600px; }
.item-image.sonicBoom { background: url("images/placeholders.png") -1450px -600px; }
.item-image.unlimitedMissiles { background: url("images/placeholders.png") -1500px -600px; }

.item-image.morphBall { background: url("images/placeholders.png") 0 -650px; }
.item-image.bombA { background: url("images/placeholders.png") -50px -650px; } /* pick a default `bomb` */
.item-image.bombZ { background: url("images/placeholders.png") -100px -650px; } /* expand uses? */
.item-image.bombO { background: url("images/placeholders.png") -650px -650px; }
.item-image.bombD { background: url("images/placeholders.png") -200px -650px; }
.item-image.bombP { background: url("images/placeholders.png") -250px -650px; }
.item-image.bombE { background: url("images/placeholders.png") -300px -650px; }
.item-image.bombB { background: url("images/placeholders.png") -350px -650px; }
.item-image.adapter { background: url("images/placeholders.png") -400px -650px; }
.item-image.crossBomb { background: url("images/placeholders.png") -450px -650px; }
.item-image.powerBombTank { background: url("images/placeholders.png") -500px -650px; }
.item-image.powerBombExpP { background: url("images/placeholders.png") -550px -650px; }
.item-image.powerBombExpE { background: url("images/placeholders.png") -600px -650px; }
.item-image.powerBombExpD { background: url("images/placeholders.png") -650px -650px; }
.item-image.powerBombExpB { background: url("images/placeholders.png") -700px -650px; }
.item-image.powerBombO { background: url("images/placeholders.png") -750px -650px; }
.item-image.powerBomb { background: url("images/placeholders.png") -800px -650px; }
.item-image.powerBombD { background: url("images/placeholders.png") -850px -650px; }
.game-scramble .item-image.powerBombPR,
.item-image.powerBombP { background: url("images/placeholders.png") -900px -650px; }
.item-image.powerBombE { background: url("images/placeholders.png") -950px -650px; }
.item-image.powerBombPR { background: url("images/placeholders.png") -1000px -650px; }
.item-image.powerBombB { background: url("images/placeholders.png") -1050px -650px; }
.item-image.boostBall { background: url("images/placeholders.png") -1100px -650px; }
.item-image.boostBallB { background: url("images/placeholders.png") -1150px -650px; }
.item-image.cannonball { background: url("images/placeholders.png") -1200px -650px; }
.item-image.spiderBallR { background: url("images/placeholders.png") -1250px -650px; } /* is this a good default? `spiderBall` */
.item-image.spiderBallP { background: url("images/placeholders.png") -1300px -650px; }
.item-image.spiderBallB { background: url("images/placeholders.png") -1350px -650px; }
.item-image.springBallA { background: url("images/placeholders.png") -1400px -650px; } /* pick a default `springBall` */
.item-image.springBallB { background: url("images/placeholders.png") -1450px -650px; }
.item-image.hyperBall { background: url("images/placeholders.png") -1500px -650px; }
.item-image.forceBall { background: url("images/placeholders.png") -1550px -650px; }
.item-image.superBombs { background: url("images/placeholders.png") -1600px -650px; } /* reported unused; upcoming for MSC */

.item-image.highJumpBoots { background: url("images/placeholders.png") 0 -700px; } /* revisit */
.item-image.highJumpBootsZ { background: url("images/placeholders.png") -50px -700px; }
.item-image.spinBoost { background: url("images/placeholders.png") -100px -700px; }
.item-image.psychicBoots { background: url("images/placeholders.png") -150px -700px; }
.item-image.spaceJumpBoots { background: url("images/placeholders.png") -200px -700px; } /* revisit */
.item-image.wallJumpBoots { background: url("images/placeholders.png") -250px -700px; } /* revisit */
.item-image.accelExpansion { background: url("images/placeholders.png") -300px -700px; } /* reported unused; only useful for randos */
.item-image.speedBooster { background: url("images/placeholders.png") -350px -700px; }
.item-image.speedBoosterO { background: url("images/placeholders.png") -400px -700px; }
.item-image.flashShiftExpansion { background: url("images/placeholders.png") -450px -700px; } /* reported unused; only useful for Dread Rando */
.item-image.flashShift { background: url("images/placeholders.png") -500px -700px; }
.item-image.spaceJump { background: url("images/placeholders.png") -550px -700px; }
.item-image.special,
.item-image.screwAttack { background: url("images/placeholders.png") -600px -700px; }
.item-image.screwAttackE { background: url("images/placeholders.png") -650px -700px; }

.item-image.powerGrip { background: url("images/placeholders.png") 0 -750px; }
.item-image.spiderMagnet { background: url("images/placeholders.png") -50px -750px; }
.item-image.psychicGlove { background: url("images/placeholders.png") -100px -750px; }
.item-image.grappleLasso { background: url("images/placeholders.png") -150px -750px; }
.item-image.psychicLasso { background: url("images/placeholders.png") -200px -750px; }
.item-image.grappleBeam { background: url("images/placeholders.png") -250px -750px; }
.item-image.grappleBeamD { background: url("images/placeholders.png") -300px -750px; }
.game-scramble .item-image.grappleBeamPR,
.item-image.grappleBeamP,
.item-image.grappleSwing { background: url("images/placeholders.png") -350px -750px; }
.item-image.grappleBeamPR { background: url("images/placeholders.png") -400px -750px; }
.item-image.grappleBeamB { background: url("images/placeholders.png") -450px -750px; }
.item-image.shipGrapple { background: url("images/placeholders.png") -500px -750px; }
.item-image.birdObservatoryCargo { background: url("images/placeholders.png") -550px -750px; }
.item-image.bryyoGeneratorCargo { background: url("images/placeholders.png") -600px -750px; }
.item-image.bryyoGolemHeadCargo { background: url("images/placeholders.png") -650px -750px; }
.item-image.theronianBomb { background: url("images/placeholders.png") -700px -750px; }
.item-image.grappleVoltage { background: url("images/placeholders.png") -750px -750px; }
.item-image.hyperGrapple { background: url("images/placeholders.png") -800px -750px; }

.item-image.shieldKey { background: url("images/placeholders.png") 0 -800px; }
.item-image.missileKey { background: url("images/placeholders.png") -50px -800px; } /* reported unused */
.item-image.tkCodeA { background: url("images/placeholders.png") -100px -800px; }
.item-image.tkCodeB { background: url("images/placeholders.png") -150px -800px; }
.item-image.teleportChip { background: url("images/placeholders.png") -200px -800px; }
.item-image.teleporterPatch { background: url("images/placeholders.png") -250px -800px; }
.item-image.regionKeycard1 { background: url("images/placeholders.png") -300px -800px; } /* reported unused; only useful for SM Rando Keysanity */
.item-image.regionKeycard2 { background: url("images/placeholders.png") -350px -800px; } /* reported unused; only useful for SM Rando Keysanity */
.item-image.bossKeycard { background: url("images/placeholders.png") -400px -800px; } /* reported unused; only useful for SM Rando Keysanity */
.item-image.graySecurity { background: url("images/placeholders.png") -450px -800px; }
.item-image.blueSecurity { background: url("images/placeholders.png") -500px -800px; }
.item-image.greenSecurity { background: url("images/placeholders.png") -550px -800px; }
.item-image.yellowSecurity { background: url("images/placeholders.png") -600px -800px; }
.item-image.redSecurity { background: url("images/placeholders.png") -650px -800px; }
.item-image.aquadiaKey { background: url("images/placeholders.png") -700px -800px; } /* might be deprecated? or might find other use for this */ /* reported unused */
.item-image.aquadiaKeycard { background: url("images/placeholders.png") -750px -800px; }
.item-image.steelarisGear { background: url("images/placeholders.png") -800px -800px; }

.item-image.monsterCellCapsule { background: url("images/placeholders.png") 0 -850px; }
.item-image.m_lock1 { background: url("images/placeholders.png") -50px -850px; }
.item-image.m_lock2 { background: url("images/placeholders.png") -100px -850px; }
.item-image.artifactBird,
.item-image.artifactElder,
.item-image.artifactLifegiver,
.item-image.artifactNature,
.item-image.artifactNewborn,
.item-image.artifactSpirit,
.item-image.artifactStrength,
.item-image.artifactSun,
.item-image.artifactTruth,
.item-image.artifactWarrior,
.item-image.artifactWild,
.item-image.artifactWorld,
.item-image.birdArtifact { background: url("images/placeholders.png") -150px -850px; } /* default fallback; variants are for when unique item IDs are needed, in the future */
.item-image.darkAgonKey { background: url("images/placeholders.png") -200px -850px; } /* might need to adjust for language-agnostic icon */
.item-image.darkTorvusKey { background: url("images/placeholders.png") -250px -850px; } /* might need to adjust for language-agnostic icon */
.item-image.ingHiveKey { background: url("images/placeholders.png") -300px -850px; } /* might need to adjust for language-agnostic icon */
.item-image.skyTempleKey { background: url("images/placeholders.png") -350px -850px; }
.item-image.alimbicArtifactCA1 { background: url("images/placeholders.png") -400px -850px; }
.item-image.alimbicArtifactAl1 { background: url("images/placeholders.png") -450px -850px; }
.item-image.alimbicArtifactVDO1 { background: url("images/placeholders.png") -500px -850px; }
.item-image.alimbicArtifactArc1 { background: url("images/placeholders.png") -550px -850px; }
.item-image.alimbicArtifactCA2 { background: url("images/placeholders.png") -600px -850px; }
.item-image.alimbicArtifactAl2 { background: url("images/placeholders.png") -650px -850px; }
.item-image.alimbicArtifactVDO2 { background: url("images/placeholders.png") -700px -850px; }
.item-image.alimbicArtifactArc2 { background: url("images/placeholders.png") -750px -850px; }
.item-image.octolith { background: url("images/placeholders.png") -800px -850px; }
.item-image.energyCell { background: url("images/placeholders.png") -850px -850px; }

.item-image.teleporterKey { background: url("images/placeholders.png") 0 -900px; } /* default fallback */
/* .item-image._____ { background: url("images/placeholders.png") -50px -900px; } combined */
.item-image.forestKey { background: url("images/placeholders.png") -70px -900px; width: 60px; left: -5px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -100px -900px; } combined */
/* .item-image._____ { background: url("images/placeholders.png") -150px -900px; } combined */
.item-image.forgeKey { background: url("images/placeholders.png") -170px -900px; width: 60px; left: -5px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -200px -900px; } combined */
/* .item-image._____ { background: url("images/placeholders.png") -250px -900px; } combined */
.item-image.frostKey { background: url("images/placeholders.png") -273px -900px; width: 54px; left: -2px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -300px -900px; } combined */
/* .item-image._____ { background: url("images/placeholders.png") -350px -900px; } combined */
.item-image.volcanoKey { background: url("images/placeholders.png") -371px -900px; width: 58px; left: -4px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -400px -900px; } combined */
/* .item-image._____ { background: url("images/placeholders.png") -450px -900px; } combined */
.item-image.minesKey { background: url("images/placeholders.png") -468px -900px; width: 64px; left: -7px; } /* double-length */
/* .item-image._____ { background: url("images/placeholders.png") -500px -900px; } combined */
.item-image.geCrystal { background: url("images/placeholders.png") -550px -900px; }
.item-image.memoryFruit { background: url("images/placeholders.png") -600px -900px; }
.item-image.mechPart { background: url("images/placeholders.png") -650px -900px; }
.item-image.monster { background: url("images/placeholders.png") -700px -900px; }

.item-image.boss { background: url("images/placeholders.png") 0 -950px; }
.item-image.wormboss { background: url("images/placeholders.png") -50px -950px; } /* reported unused */
.item-image.mothboss { background: url("images/placeholders.png") -100px -950px; } /* reported unused */
.item-image.mechboss { background: url("images/placeholders.png") -150px -950px; } /* reported unused */
.item-image.dna { background: url("images/placeholders.png") -200px -950px; } /* reported unused */
.item-image.birdSeal { background: url("images/placeholders.png") -250px -950px; } /* reported unused */
.item-image.monsterDna { background: url("images/placeholders.png") -300px -950px; }
.item-image.kaijuboss { background: url("images/placeholders.png") -350px -950px; }
.item-image.crocboss { background: url("images/placeholders.png") -400px -950px; } /* reported unused */
.item-image.ghostboss { background: url("images/placeholders.png") -450px -950px; } /* reported unused */
.item-image.fishboss { background: url("images/placeholders.png") -500px -950px; } /* reported unused */
.item-image.dragonboss { background: url("images/placeholders.png") -550px -950px; }
.item-image.brainboss { background: url("images/placeholders.png") -600px -950px; } /* reported unused */