* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.slider-switch {
  display: inline-block;
  position: relative;
  width: 1.6em;
  height: 1.6em;
  top: -4px;
}

.slider-switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider-switch .slider {
  background-color: #909090;
  border-radius: 36px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider-switch .slider:before {
  background-color: #b8b8b8;
  border-radius: 50%;
  bottom: 0.3em;
  content: "";
  height: 1em;
  left: 0.3em;
  position: absolute;
  width: 1em;
}

.slider-switch input:checked + .slider {
  background-color: #f8b000;
}

.slider-switch input:checked + .slider:before {
  background-color: #f80000;
}

#selection:not(.show-menu),
#selection .gameError.hide-error,
.hide-menu,
.hide-section,
.hide-segment {
  display: none;
}

#selection .gameError {
  color: red;
  font-weight: bold;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.startup-button {
  margin-top: 14px;
}

.item,
.expansion,
.blank {
  float: left;
  position: relative;
}

.overlay-image {
  display: none;
  left: 26px;
  margin: 2px;
  position: absolute;
  top: 26px;
  z-index: 100;
}

.level-up-image,
.level-down-image {
  display: none;
  left: 0;
  margin: 2px;
  position: absolute;
  z-index: 50;
}

.level-up-image {
  top: 0;
}

.level-down-image {
  top: 26px;
}

.can-level-up:hover > .item-image:not(.deselected) ~ .level-up-image,
.can-level-down:hover > .item-image:not(.deselected) ~ .level-down-image {
  display: block;
}

.show-over .overlay-image {
  display: block;
}

.item-image {
  left: 0;
  margin: 2px;
  position: relative;
  top: 0;
  z-index: 10;
}

.back-image {
  left: 0;
  margin: 2px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.item p,
.expansion p {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.deselected {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.3;
  mix-blend-mode: multiply;
}

.blank {
  opacity: 0.0 !important;
}

body.dark-mode {
  background: black;
}

body.dark-mode #startupMenu p,
body.dark-mode .item p,
body.dark-mode .expansion p {
  color: white;
}

body .item-image:not(.deselected) {
  filter: drop-shadow(0 0 5px #fff);
}

body.dark-mode .deselected {
  opacity: 0.5;
  mix-blend-mode: normal;
}
