* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 10px;
}

/***** selection-form *****/

#selection ul.mode-change {
  list-style-type: none;
}

#selection ul.mode-change li {
  float: left;
  margin-right: 1em;
}

#selection ul.mode-change li + li::before {
  content: "|";
  margin-right: calc(1em - 2.45px);
}

.game-mode {
  overflow: hidden;
}

#selection .slider-switch {
  display: inline-block;
  position: relative;
  width: 1.6em;
  height: 1.6em;
  top: -4px;
}

#selection .slider-switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

#selection .slider-switch .slider {
  background-color: #909090;
  border-radius: 36px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#selection .slider-switch .slider:before {
  background-color: #b8b8b8;
  border-radius: 50%;
  bottom: 0.3em;
  content: "";
  height: 1em;
  left: 0.3em;
  position: absolute;
  width: 1em;
}

#selection .slider-switch input:checked + .slider {
  background-color: #f8b000;
}

#selection .slider-switch input:checked + .slider:before {
  background-color: #f80000;
}

#selection .sliderResponse.hidden,
#selection .instructionPrompt.hidden {
  display: none;
} 

#selection:not(.show-menu),
#selection .gameError.hide-error,
.hide-menu,
.hide-section,
.hide-segment {
  display: none !important;
}

#selection .scramble-selection-container {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
}

#selection .scramble-selection-container > div {
  padding: 10px;
}

#selection .scramble-selection-container .selection-label {
  font-size: 0.83em;
}

#selection .gameError {
  color: red;
  font-weight: bold;
}

#selection .startup-button {
  margin-top: 14px;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}